## Relational Database
Created by: Isman Kurniawan

### Create a connection

In [1]:
import sqlite3

In [ ]:
# load sqlite3 library
import sqlite3

# create a connection to database
connection = sqlite3.connect('my_database.sqlite')

# create an interface to the database 
# that allows running anySQL query on our database.
cursor = connection.cursor()

### Creating new table

In [ ]:
# creating a table named 'SCHOOL'
cursor.execute('''CREATE TABLE SCHOOL(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
NAME TEXT NOT NULL,
AGE INTEGER NOT NULL,
ADDRESS CHAR(50));''')

# commit the update
connection.commit()

### Inserting records

In [ ]:
# inserting record
cursor.execute("INSERT INTO SCHOOL (NAME, AGE, ADDRESS) \
                VALUES ('Ahmad', 14, 'Jakarta')")
cursor.execute("INSERT INTO SCHOOL (NAME, AGE, ADDRESS) \
                VALUES ('Robby', 15, 'Bandung')")
cursor.execute("INSERT INTO SCHOOL (NAME, AGE, ADDRESS) \
                VALUES ('Thomas', 13, 'Surabaya')")
cursor.execute("INSERT INTO SCHOOL (NAME, AGE, ADDRESS) \
                VALUES ('Laila', 15, 'Makasar')")

connection.commit()

### Selecting records

In [ ]:
for row in cursor.execute("SELECT ID, NAME, AGE FROM SCHOOL"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")

### Updating records values

In [ ]:
connection.execute("UPDATE SCHOOL SET ADDRESS = 'Aceh' WHERE NAME = 'Laila'")
connection.commit()

### Deleting records

In [ ]:
connection.execute("DELETE FROM SCHOOL WHERE ID = 2")
connection.commit()